<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random word generator</title>
</head>
<body>
    <h1>Random Word Generating... Attempt #{{request.session.count}}</h1>
    <p>{{string}}</p>
    
    <form action="/process" method="post">
    {% csrf_token %}
    <input type="submit" name="Generate" value="Generate">
    </form>

    <form class="" action="/random_word/reset" method="post">
        {% csrf_token %}
        <input type="submit" name="Reset" value="Reset">
    </form>
    


    
</body>
</html>